<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Premiere page sur Express</title>
</head>
<body>
	<h1>Ma premiere page {{ name }} </h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt maxime tenetur, voluptates dolore distinctio. Impedit nihil laudantium doloremque molestias doloribus similique suscipit dicta, nulla quia inventore aliquid distinctio. Ipsa, unde.</p>
</body>
</html>